/* 
    2xl:1536px
    xl:1280----->56px    (padding or aru kura haru )
    lg:1024----->47px
    md:768----->39px
    sm:576/640----->32px   //mobile landspace

    27px(mobile harumah use harne) //below 576px or 640px = mobole

*/

nav{
    padding-top: 27px;
    display:flex;
    justify-content: space-between;
}
nav ul{
    /* display: flex; */
    gap:1rem;
   
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-wrapper img{
    height: 36px;
    width: 35px;

}
.hamburger{
    height:32px;
    width: 32px;
}
.drawer{
    /* display:none; */
    position: fixed;
    background-color: orange;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    padding: 2rem;
    width: 50vw;

}
.drawer.open{
    transform: translateX(0%);
    cursor: pointer;
}



@media(min-width:768px){
    nav{
        padding-top:39px ;
    }
}

@media(min-width:1024px){
    nav{
        padding-top:47px;
    }
    .hamburger{
        display: none;
    }
    .drawer{
        display:flex;
    }
}

@media(min-width:1280px){
    nav{
        padding-top:56px;
    }
    .drawer{
        display: initial;
    }
}


/* larger desktop ----monitor */
@media(min-width:1536px){
    nav{
        padding-top:56px;
    }
    
}